{block content}
<h1>Administrace</h1>
    <div>PHP {=PHP_VERSION} |
        {ifset $_SERVER['SERVER_SOFTWARE']}Server {$_SERVER['SERVER_SOFTWARE']}{/ifset} |
           {* Nette Framework {=Nette\Framework::VERSION} *}
    </div>
{/block}