services:
    - App\Components\SmtpController\SendMailService
    - App\Config\AppParameterService(%wwwDir%)
    - App\Factory\Forms\CiAddFormFactory
    - App\Factory\Forms\CiEditFormFactory
    - App\Factory\Forms\CompanyAddFormFactory
    - App\Factory\Forms\CompanyEditFormFactory
    - App\Factory\Forms\InvoiceItemAddFormFactory
    - App\Factory\Forms\InvoiceItemEditFormFactory
    - App\Factory\Forms\DateFormatAddFormFactory
    - App\Factory\Forms\DateFormatEditFormFactory
    - App\Factory\Forms\EmailLinkToCiFormFactory
    - App\Factory\Forms\ForeignKeyAddFormFactory
    - App\Factory\Forms\ForeignKeyEditFormFactory
    - App\Factory\Forms\FormFactory
    - App\Factory\Forms\ImpactAddFormFactory
    - App\Factory\Forms\ImpactEditFormFactory
    - App\Factory\Forms\InvoiceAddFormFactory
    - App\Factory\Forms\InvoiceEditFormFactory
    - App\Factory\Forms\PersonAddFormFactory
    - App\Factory\Forms\PersonEditFormFactory
    - App\Factory\Forms\QueueOsobaAddFormFactory
    - App\Factory\Forms\QueueOsobaEditFormFactory
    - App\Factory\Forms\SlaAddFormFactory
    - App\Factory\Forms\SlaEditFormFactory
    - App\Factory\Forms\SubscriberSupporterRelationFormFactory
    - App\Factory\Forms\TariffAddFormFactory
    - App\Factory\Forms\TariffEditFormFactory
    - App\Factory\Forms\TaskFormFactory
    - App\Factory\Forms\TicketAddFormFactory
    - App\Factory\Forms\TicketEditFormFactory
    - App\Factory\Forms\TicketTaskFormFactory
    - App\Factory\Forms\TimeZoneFormFactory
    - App\Factory\Forms\TypIncidentFormFactory
    - App\Factory\ConnectionFactory
    - App\Factory\ImapDriverFactory(%imapDriver.user%, %imapDriver.password%, %imapDriver.host%, %imapDriver.port%, %imapDriver.ssl%)
    - App\Factory\SmtpMailerFactory(%sendMail%, %email.receiver%)
    - App\Model\ChangeStavModel
    - App\Model\CiModel
    - App\Model\CiLogModel
    - App\Model\DphModel
    - App\Model\FakturaModel
    - App\Model\FakturaPolozkaCssModel
    - App\Model\FakturaPolozkaModel
    - App\Model\FirmaModel
    - App\Model\FormatDatumModel
    - App\Model\FormaUhradyModel
    - App\Model\FrontaModel
    - App\Model\FrontaOsobaModel
    - App\Model\IncidentStavModel
    - App\Model\IncidentModel
    - App\Model\IncidentLogModel
    - App\Model\JednotkaModel
    - App\Model\OdCiModel
    - App\Model\OvlivneniModel
    - App\Model\OsobaModel
    - App\Model\PrioritaModel
    - App\Model\SlaModel
    - App\Model\StavCiModel
    - App\Model\TarifModel
    - App\Model\TimeZoneModel
    - App\Model\TypChangeModel
    - App\Model\TypIncidentModel
    - App\Model\TypOsobyModel
    - App\Model\UkonModel
    - App\Model\UserManager
    - App\Model\ZemeModel
    - App\Model\ZpusobUzavreniModel
    - Latte\Engine
    router: App\Router\RouterFactory::createRouter
